@media (max-width: 952px) {
    .nombre {
    padding-left: 20px;
    }
    .menu-nav ul li a {
    font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
    display: block;
    }
    
    nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #1A1A1A;
    top: 10%;
    left: 100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 1;
    }

    .menu-nav ul li {
    display: block;
    margin: 10px 0;
    line-height: 30px;
    }

    nav ul li a {
    font-size: 20px;
    }

    li a:hover, li a.active {
    background: none;
    background-color: gray;
    }

    #check:checked ~ ul {
    left: 0;
    }
}