/* Seccion Productos */
.texto-productos {
    h2 {
    display: inline-block;
    margin: 20px;
    font-size: 1.7rem;
    text-decoration: underline;
    }

    p {
    font-size: 1.3rem;
    margin: 18px;
    background-color: $background-w;
    border-radius: 5px;
    padding: 10px;
    }
}

.container-items-productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45vh, 1fr));
    grid-gap: 30px;
    margin: auto;
    text-align: center;
    width: 75%;
}

.item {
    margin: 20px 20px;
    box-shadow: $box-shadow;
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
}

.foto-producto {
    max-width: 100%;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    aspect-ratio: 3/2;
    border-radius: 5px;

    &:hover {
    transform: scale(1.1);
    }
}

.info-item {
    background-color: $background-w;
    color: black;
    padding: 15px;
    border-radius: 5px;

    button {
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    }

    .precio {
    padding: 5px;
    }
}
